/* Page Hero Component*/
.page-hero {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.page-hero-logo {
  height: 35em;
  width: 75em;
  image-rendering: auto;
}
.social-icons {
  margin-top: 2em;
}
#facebook-icon {
  image-rendering: auto;
  width: 5em;
}
#twitter-icon {
  image-rendering: auto;
  width: 5em;
}
#instagram-icon {
  image-rendering: auto;
  width: 5em;
}
#twitch-icon {
  image-rendering: auto;
  width: 5em;
}
/* Footer Component*/
.footer {
  margin-top: 5em;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: medium;
  display: block;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
/* Nav Component*/

#epk {
  color: white;
  font-family: ink free;
  text-align: right;
  margin-right: 5em;
  font-size: 48px;
}
/* General*/
body {
  background-color: black;
}
.App {
  text-align: center;
}
